@font-face {
    font-family: anton;
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --deep-blue-color: #192841;
    --light-blue-color: #f5fbff;
}

body {
    margin: 0px;
}

.mastercontainer {
    display: flex;
}

.large-photo {
    display: flex;
    height: 100vh;
    width: 35vw;
}

.vintage-weights {
    width: 35vw;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 45vw;
    box-shadow: 5px 10px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 35vw;
    background-color: #00000099;
    position: fixed;
    top: 200px;
}

.edges {
    background-color: var(--deep-blue-color);
    height: 100vh;
    width: 10vw;
}

h1 {
    display: flex;
    color: white;
    font-size: 60px;
    font-family: anton;
}

.iron-corner {
    width: 150px;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue-color);
    flex: 1;
    justify-content: flex-end;
}

.top p {
    font-size: 26px;
    font-family: Helvetica;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 200px;
    color: var(--deep-blue-color);
}


.form {
    background-color: white;
    flex: 1;
}

.bottom {
    background-color: var(--light-blue-color);
    flex: 1;
}

.github {
    display: flex;
    align-items: center;
    gap: 10px;

}

.github img {
    height: 30px;
}

.github p {
    color: var(--deep-blue-color);
    font-family: Helvetica;
    font-size: 18px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.form{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.form p {
    color: var(--deep-blue-color);
    font-family: Helvetica;
    font-size: 28px;
}

.formcol1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formcol2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container {
    display: flex;
    gap: 70px;
}

.formpair {
    display: flex;
    flex-direction: column;

}

input {
    border-radius: 4px;
    border: solid 1px lightgrey;
    width: 200px;
    height: 30px;
    font-size: 16px;
}

input:hover {
    border-color: var(--deep-blue-color);
}

input:focus {
    background-color: var(--light-blue-color);
}

label {
    color: var(--deep-blue-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

button {
    position: relative;
    top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #5388b3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

